{{ define "body" }}
    <div style="display:grid" class="">
        <div class="text-white center row">
            <h2>Spotify To Youtube</h2>
        </div>
        <div
            id="spotify-auth-status"
            name="spotify-auth-status"
            class="text-white center row"
            >
            {{ if .Data.SpotifyAuthStatus }}
            <label
                style="color:green;"
                >
                Spotify Authenticated
            </label>
            {{ else }}
            <a href="/auth/spotify/get">
            <label
                title="Click to authenticate"
                style="color:red;"
                >
                Spotify Not Authenticated
            </label>
            </a>
            {{ end }}
        </div>
        <div class="text-white center row">
        <div class="center row">
            Enter a song link:
        </div>
        <div class="center row">
            <input
                class="text-black"
                type="text"
                placeholder="https://open.spotify.com/track/5ugDZ2gBEjvRIqewKvLwR1?si=ac41a6ff6c74441a"
                >
            </input>
        </div>
        <div class="center row">
            <button
                >
                Spotify -> Youtube
            </button>
        </div>
        </div>
        {{ if .Data.SongInfo }}
        <div
            id="song-info-div"
            name="song-info-div"
            >
            {{ template "songinfo" .Data.SongInfo }}
        </div>
        {{ end }}
    </div>
{{ end }}
