{{ define "songinfo" }}
    <div
        class="center row"
        style="outline-style:solid;"
        >
        <div class="col">
            <iframe width="1273" height="716" src="{{ .EmbedUrl }}" title="{{ .Title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <!-- <img -->
            <!--     src="{{ .Thumbnail }}" -->
            <!--     > -->
        </div>
    </div>
{{ end }}
